<div class="newsheader">Stufen-Vertretungsplan für Max Mustermann, PR</div>
<div class="newsbody">Willkommen beim Vertretungsplan-Service des CGE (© NAAG, 2010) !<br/><br/>
    <form action="index.php?menuid=235&parentid=2" method="POST" name="schdatum_form">Wählen Sie ein Datum ab dem
        <select name="schdatumauswahl" size="1" onchange="javascript:document.schdatum_form.submit();">
            <option value="05.02.2019">05.02.2019</option>
            <option value="01.02.2019">01.02.2019</option>
            <option value="31.01.2019">31.01.2019</option>
            <option value="29.01.2019">29.01.2019</option>
            <option value="28.01.2019">28.01.2019</option>
            <option value="25.01.2019">25.01.2019</option>
            <option value="24.01.2019">24.01.2019</option>
            <option value="21.01.2019">21.01.2019</option>
            <option value="18.01.2019">18.01.2019</option>
            <option value="17.01.2019">17.01.2019</option>
            <option value="15.01.2019">15.01.2019</option>
            <option value="14.01.2019">14.01.2019</option>
            <option value="11.01.2019">11.01.2019</option>
            <option value="10.01.2019">10.01.2019</option>
            <option value="09.01.2019" selected>09.01.2019</option>
            <option value="08.01.2019">08.01.2019</option>
            <option value="07.01.2019">07.01.2019</option>
        </select></form>
    <br/>
    <table class="schuelervplan">
        <tr>
            <td class="blueheader" align="center" colspan="6"><font color="red">Vertretungsplan der Stufe Q2 für Mi, den
                09.01.2019.</font></td>
        </tr>
        <tr>
            <td class="blueheader">Klasse/Kurs</td>
            <td class="blueheader">Stunde</td>
            <td class="blueheader">Lehrer</td>
            <td class="blueheader">Fach</td>
            <td class="blueheader">Bemerkung</td>
            <td class="blueheader">Für</td>
        </tr>
        <tr>
            <td>Q2</td>
            <td>3.</td>
            <td>Pr</td>
            <td>M</td>
            <td>Aufsicht Nachklausur (C102)</td>
            <td></td>
        </tr>
        <tr>
            <td>Q2</td>
            <td>4.</td>
            <td>Ot</td>
            <td>M</td>
            <td>Aufsicht Nachklausur (C102)</td>
            <td></td>
        </tr>
        <tr>
            <td>Q2</td>
            <td>5.</td>
            <td>Wi</td>
            <td>M</td>
            <td>Aufsicht Nachklausur (C102)</td>
            <td></td>
        </tr>
        <tr>
            <td>Q2 SW GK1</td>
            <td>4./5.</td>
            <td></td>
            <td></td>
            <td>Präsenz-Aufgabe ist gestellt.</td>
            <td>Gre</td>
        </tr>
        <tr>
            <td>Q2 SW GK2</td>
            <td>1./2.</td>
            <td></td>
            <td></td>
            <td>Aufgabe wurde von Ra gestellt.</td>
            <td>Ra</td>
        </tr>
        <tr>
            <td colspan="6" align="center"><input type="button" value="Druckbare Version in einem neuen Fenster öffnen"
                                                  onClick="javascript:go ()"/></td>
        </tr>
    </table>
    <br/>
    <div id="warnbox">
        <font color="red" size="4">Achtung:</font>
        Diese Übersicht kann natürlich nur Vertretungen enthalten, die spätestens am Vortag bekannt waren !<br/>
        Achten Sie auf die Aushänge in der Schule - nur diese sind verbindlich.<br/>
        <p align="right">Pr, Gr</p>
    </div>
    <br/>
</div>
<div class="newsfoot">
    <a href="index.php?parentid=5&menuid=119"><img src="gfx/pfeil.gif" border="0"></img> Logout</a>
</div>
