<div id="Plan">
    <table border="2">
        <tr align="center">

            <td colspan="3">
                <center><b>Max Mustermann</b></center>
            </td>
            <td><font color="blue"><b>Tutor: Td</b></font></center></td>
            <td colspan="3"><b>Gültig ab: 29.08.2018</b></td>
        </tr>
        <tr align="center">
            <td width="50">Std.</td>
            <td width="50">Zeit</td>
            <td width="100">Mo</td>
            <td width="100">Di</td>
            <td width="100">Mi</td>
            <td width="100">Do</td>
            <td width="100">Fr</td>
        </tr>
        <tr align="center">
            <td>1</td>
            <td style="padding:5px; text-align:right;">7:30</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%"><font color="blue"><b>M</b></font></td>
                        <td width="50%" align="right"><font color="blue"><b>LK2</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="blue"><b>Td</b></font></td>
                        <td align="right"><font color="blue"><b>D109</b></font></td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">IF</td>
                        <td width="50%" align="right">LK4</td>
                    </tr>
                    <tr>
                        <td>QB</td>
                        <td align="right">G202</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">E</td>
                        <td width="50%" align="right">GK5</td>
                    </tr>
                    <tr>
                        <td>KS</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">IF</td>
                        <td width="50%" align="right">LK4</td>
                    </tr>
                    <tr>
                        <td>QB</td>
                        <td align="right">G202</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%"><font color="blue"><b>M</b></font></td>
                        <td width="50%" align="right"><font color="blue"><b>LK2</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="blue"><b>Td</b></font></td>
                        <td align="right"><font color="blue"><b>D109</b></font></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td>2</td>
            <td style="padding:5px; text-align:right;">8:15</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%"><font color="blue"><b>M</b></font></td>
                        <td width="50%" align="right"><font color="blue"><b>LK2</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="blue"><b>Td</b></font></td>
                        <td align="right"><font color="blue"><b>D109</b></font></td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">IF</td>
                        <td width="50%" align="right">LK4</td>
                    </tr>
                    <tr>
                        <td>QB</td>
                        <td align="right">G202</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">E</td>
                        <td width="50%" align="right">GK5</td>
                    </tr>
                    <tr>
                        <td>KS</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">IF</td>
                        <td width="50%" align="right">LK4</td>
                    </tr>
                    <tr>
                        <td>QB</td>
                        <td align="right">G202</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%"><font color="blue"><b>M</b></font></td>
                        <td width="50%" align="right"><font color="blue"><b>LK2</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="blue"><b>Td</b></font></td>
                        <td align="right"><font color="blue"><b>D109</b></font></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td>3</td>
            <td style="padding:5px; text-align:right;">9:05</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">GEA</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>MR</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">PH</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>JD</td>
                        <td align="right">PH3</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">D</td>
                        <td width="50%" align="right">GK4</td>
                    </tr>
                    <tr>
                        <td>ST</td>
                        <td align="right">G203</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">N</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>JN</td>
                        <td align="right">C2</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td>4</td>
            <td style="padding:5px; text-align:right;">10:15</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">PH</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>JD</td>
                        <td align="right">PH3</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">N</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>JN</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">EK</td>
                        <td width="50%" align="right">GK2</td>
                    </tr>
                    <tr>
                        <td>RT</td>
                        <td align="right">A108</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">D</td>
                        <td width="50%" align="right">GK4</td>
                    </tr>
                    <tr>
                        <td>ST</td>
                        <td align="right">G203</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">SWA</td>
                        <td width="50%" align="right">GK5</td>
                    </tr>
                    <tr>
                        <td>GRE</td>
                        <td align="right">C2</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td>5</td>
            <td style="padding:5px; text-align:right;">11:05</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">PH</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>JD</td>
                        <td align="right">PH3</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">N</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>JN</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">EK</td>
                        <td width="50%" align="right">GK2</td>
                    </tr>
                    <tr>
                        <td>RT</td>
                        <td align="right">A108</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">SWA</td>
                        <td width="50%" align="right">GK5</td>
                    </tr>
                    <tr>
                        <td>GRE</td>
                        <td align="right">C2</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td>6</td>
            <td style="padding:5px; text-align:right;">11:55</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">EK</td>
                        <td width="50%" align="right">GK2</td>
                    </tr>
                    <tr>
                        <td>RT</td>
                        <td align="right">A108</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">D</td>
                        <td width="50%" align="right">GK4</td>
                    </tr>
                    <tr>
                        <td>ST</td>
                        <td align="right">G204</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%"><font color="blue"><b>M</b></font></td>
                        <td width="50%" align="right"><font color="blue"><b>LK2</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="blue"><b>Td</b></font></td>
                        <td align="right"><font color="blue"><b>D109</b></font></td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">IF</td>
                        <td width="50%" align="right">LK4</td>
                    </tr>
                    <tr>
                        <td>QB</td>
                        <td align="right">G202</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td>7</td>
            <td style="padding:5px; text-align:right;">12:45</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">SWA</td>
                        <td width="50%" align="right">GK5</td>
                    </tr>
                    <tr>
                        <td>GRE</td>
                        <td align="right">E113</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">N</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>JN</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">E</td>
                        <td width="50%" align="right">GK5</td>
                    </tr>
                    <tr>
                        <td>KS</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td>8</td>
            <td style="padding:5px; text-align:right;">13:45</td>
            <td>
                <center>---</center>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">GEA</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>MR</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">SP</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>GRE</td>
                        <td align="right">TH</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
        </tr>
        <tr align="center">
            <td>9</td>
            <td style="padding:5px; text-align:right;">14:30</td>
            <td>
                <center>---</center>
            </td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">GEA</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>MR</td>
                        <td align="right">G5</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
        </tr>
        <tr align="center">
            <td>10</td>
            <td style="padding:5px; text-align:right;">15:15</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">SP</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>GRE</td>
                        <td align="right">KF3</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
        </tr>
        <tr align="center">
            <td>11</td>
            <td style="padding:5px; text-align:right;">16:00</td>
            <td>
                <table width="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="50%">SP</td>
                        <td width="50%" align="right">GK1</td>
                    </tr>
                    <tr>
                        <td>GRE</td>
                        <td align="right">KF3</td>
                    </tr>
                </table>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
            <td>
                <center>---</center>
            </td>
        </tr>
        <tr align="center">
            <td colspan="7"><input type="button" onClick="javascript:print();" value="Plan ausdrucken"/></td>
        </tr>
    </table>
</div>