<%
let i = 0;
let j = 0;
for(date in announcements) {
	%>
	<div class="row">
		<div class="mt-4 col-md-10 offset-md-1">
			<div class="card bg-light">
				<div class="card-body">
					<h5 class="card-title"><%= moment(new Date(date)).format('LL') %></h5>
					<h6 class="card-subtitle mb-2 text-muted"><%= moment(new Date(date)).from(new Date()) %></h6>
						<div class="accordion" id="accordion<%= i %>">
							<% for(announcement of announcements[date]) { %>
								<div class="card">
									<div class="card-header" id="heading<%= i + '-' + j%>">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= i + '-' + j%>" aria-expanded="false" aria-controls="collapse<%= i + '-' + j%>">
											<span class="badge badge-dark"><%- beautifyPeriod(announcement.periodInterval) %></span>
											<%- beautifyType(announcement.type) %>
											<span><%= beautifySubject(announcement.course.subject) %></span>
										</button>
									</div>
									<div id="collapse<%= i + '-' + j%>" class="collapse" aria-labelledby="heading<%= i + '-' + j%>" data-parent="#accordion<%= i %>">
										<div class="card-body">
											Teacher: <%- beautifyTeacher(announcement.course.teacher) %><br>
											Interpreted Message: <%- beautifyAnnouncement(announcement) %><br>
											Original Message from CGE-System: <%- announcement.statement %><br>
										</div>
									</div>
								</div>
								<%
								j++;
							}
							%>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%
		i++;
	}
	%>
