<div class="mt-4 row">
    <div class="col-md-6 offset-md-3">
        <div class="card bg-light">
            <div class="card-header"><h6>Greeting</h6></div>
            <div class="card-body">
                Hello <b><%= username %></b>!
            </div>
        </div>
    </div>
</div>

<%- include schedule %>

<div class="mt-4 row">
    <div class="col-md-6 offset-md-3">
        <div class="card bg-light">
            <a class="btn btn-danger" href="/logout" role="button">Log out</a>
        </div>
    </div>
</div>
