<div class="row">
    <div class="col-md-10 offset-md-1">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</div>

<div class="mt-4 row">
    <div class="col-md-10 offset-md-1">
        <div class="card bg-light">
            <form action="/login" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" class="form-control" id="username" aria-describedby="usernameHelp"
                               placeholder="Enter username">
                        <small id="usernameHelp" class="form-text text-muted">Username of the cge-account.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Enter Password">
                        <small id="passwordHelp" class="form-text text-muted">
                            Password of the cge-account.
                        </small>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
