<%
let isError;
let btstrpClass;
for (let message of flash) {
    isError = message.type == 'error';
    bstrpClass = isError? 'danger' : 'success';
%>
    <div class="row">
        <div class="mt-4 col-md-10 offset-md-1">
            <div class="card border-<%= bstrpClass %> mb-3">
                <div class="card-body text-<%= bstrpClass %>">
                    <h5 class="card-title"><%= isError? 'Error' : 'Information' %></h5>
                    <p class="card-text"><%= message.message %></p>
                </div>
            </div>
        </div>
    </div>
<% } %>
