<div class="row">
    <div class="col-md-10 offset-md-1">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</div>

<div class="mt-4 row">
    <div class="col-md-10 offset-md-1">
        <div class="card bg-light">
            <form action="/signup" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" class="form-control" id="username" required="required" aria-describedby="usernameHelp"
                               placeholder="Enter username...">
                        <small id="usernameHelp" class="form-text text-muted">Username of the cge-account.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" required="required" id="password" placeholder="Enter password...">
                        <small id="passwordHelp" class="form-text text-muted">
                            Password of the cge-account.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="email" class="form-control" required="required" id="email" placeholder="Enter email...">
                        <small id="emailHelp" class="form-text text-muted">
                            Email of the cge-account.
                        </small>
                    </div>
                    <div class="form-check">
                        <input name="agreeWithStorage" type="checkbox" required="required" class="form-check-input" id="agreeWithStorage">
                        <label class="form-check-label" for="agreeWithStorage">I allow <b>cge-monitor</b> to access my
                            schedule and other student related data.</label>
                    </div>
                    <% if(allowCreateAdminCheckbox) { %>
                        <div class="form-check">
                            <input name="isAdmin" type="checkbox" class="form-check-input" required="required" id="isAdmin">
                            <label class="form-check-label" for="isAdmin">This user is an admin.</label>
                        </div>
                    <% } %>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
