<% if(user) { %>
    <div class="row">
        <div class="mt-4 col-md-10 offset-md-1">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Welcome <%= user.username %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Role: <%= user.isAdmin? 'Admin' : 'User' %></h6>
                    <p class="card-text">Currently your are <%- user.subscribed? '' : '<b>not</b>' %> receiving announcements.</p>
                    <a href="/logout" class="btn btn-danger btn-md" role="button" aria-disabled="true">Logout</a>
                </div>
            </div>
        </div>
    </div>
<% } %>
