.card-header h6 {
    margin-bottom: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.card-footer {
}

#heading {
    color: #5d5d5d;
}
.inserted{
    font-family: "Source Code Pro";
    font-size: 1em;
}
.badge-primary{
    font-size: 14px;
}

thead tr:first-child td {
    font-size: 1.5em;
}

.accordion button.btn span.badge:nth-child(2) {
    margin-right: 32px;
}

.accordion .btn-link span.badge {
    text-decoration: none;
}

.accordion .btn-link:hover span.badge {
    text-decoration: none;
}

.accordion .btn-link:hover span.badge:last-child) {
    color: black;
}

.accordion .btn-link:hover span.badge:last-child {
    color: black;
}
